body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-title {
    text-align: center;
    color: #547fcf;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #547fcf;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

.login-button:hover {
    background-color: #547fcf;
}

.link {
    text-align: center;
}
/* consultation css */
#consultation-form {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  #consultation-form h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  #consultation-form p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #45a049;
  }

  /* contat form */
  #contact-form {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    height: 550px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Optional styling for validation messages */
  input:required:invalid,
  textarea:required:invalid {
    border: 1px solid red;
  }
  
  input:required:valid,
  textarea:required:valid {
    border: 1px solid #ccc;
  }
